# Creating samples for final analysis

Due to memory constraints we need to create a randomised and representative sample of the entire data set in order to continue with our analyses and visualisations.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Path
path = r"C:\Users\Natalia\Documents\Instacart Basket Analysis"

In [3]:
#import data set
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

In [4]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,order_freq,order_freq_flag,gender,state,age,date_joined,n_dependants,dependants_loc,fam_status,income
0,2539329,1,1,2,8,NaN,196,1,0,both,...,20.5,Non-frequent customer,Female,AL,31,2019-02-17,3,Has dependants,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,both,...,20.5,Non-frequent customer,Female,AL,31,2019-02-17,3,Has dependants,married,40423
2,473747,1,3,3,12,21.0,196,1,1,both,...,20.5,Non-frequent customer,Female,AL,31,2019-02-17,3,Has dependants,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,both,...,20.5,Non-frequent customer,Female,AL,31,2019-02-17,3,Has dependants,married,40423
4,431534,1,5,4,15,28.0,196,1,1,both,...,20.5,Non-frequent customer,Female,AL,31,2019-02-17,3,Has dependants,married,40423

In [5]:
#assining each row in my dataset a random value between 0 and 1, then creating a logical test to check each number against a value of 0.7
np.random.seed(4)
dev = np.random.rand(len(df)) <= 0.7

In [6]:
dev

array([False,  True, False, ...,  True,  True,  True])

Now we divide all of our rows into one of two samples:

In [7]:
#assigning 70% of the sample in df_big
big = df[dev]

In [8]:
#assigning 30% of the sample in df_small
small = df[~dev]

In [9]:
len(df)

32404859

In [10]:
#checking output by comparing the shap of each sample to the whoe
len(big) + len(small)

32404859

In [11]:
#exporting big dataframe
big.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'big_sample.pkl'))

In [12]:
#exporting small dataframe
small.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'small_sample.pkl'))