# 4.8 Grouping Data and Aggregating Variables

1. Aggregating data with agg() function
2. Aggregating data with transform()
3. Deriving columns with loc()

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Path
path = r"C:\Users\Natalia\Documents\Instacart Basket Analysis"

In [3]:
#import dataframe
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merged_new_variables.pkl'))

In [4]:
#dropping busiest day column
df = df.drop(['busiest_day'], axis = 1)

In [5]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders

Create a subset of the first one million entries in the dataframe

In [6]:
#create subset of first one million entries
df_subset = df[:1000000]

print('Sample output of subset filter of merged dataset:')
df_subset.sample(5)

Sample output of subset filter of merged dataset:

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
474907,3121762,5923,7,0,10,22.0,10326,2,0,both,Organic Fuji Apples,24,4,2.7,Low_range product,Busiest days,Most orders
686323,32538,189051,18,1,14,15.0,35951,14,1,both,Organic Unsweetened Almond Milk,91,16,1.3,Low_range product,Busiest days,Most orders
18148,1408144,103118,62,1,10,1.0,196,5,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders
559030,2686764,59173,10,5,8,18.0,49235,3,1,both,Organic Half & Half,53,16,1.8,Low_range product,Regularly busy,Average orders
572781,1683403,96935,15,5,8,7.0,49235,1,0,both,Organic Half & Half,53,16,1.8,Low_range product,Regularly busy,Average orders

In [7]:
df_subset.shape

(1000000, 17)

# 1. Grouping data with agg() function

In [8]:
#group your data by product name
df.groupby('product_name')

Calculating the mean of the 'order_number' grouped by 'department_id'

In [9]:
#split the data into groups based on dep_id, then agg() by ord_number
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [10]:
#using the mean() function
df.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [11]:
#performing multiple aggregations 

print('The mean, min, and max of order_number grouped by the department_id:')
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

The mean, min, and max of order_number grouped by the department_id:

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

# 2. Aggregating Data with Transform

In [12]:
df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
#function to display all rows
pd.options.display.max_rows = None

In [14]:
df.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,20
21,2580647,43,6,4,16,4.0,196,9,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,11
22,2187180,43,9,4,12,3.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,11
23,2497897,52,1,1,9,NaN,196,4,0,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,27
24,1318871,52,2,1,10,7.0,196,5,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,196,3,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,196,6,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,27
27,2428073,52,7,2,7,8.0,196,5,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,27
30,2542086,52,11,2,9,7.0,196,3,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,27
31,944694,52,12,1,16,6.0,196,7,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,27
32,1268191,52,15,2,11,8.0,196,3,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,27
33,1122089,52,17,2,10,6.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,27
34,1498922,52,18,2,10,14.0,196,6,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,27
35,180919,52,19,3,8,8.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,27
37,3205960,67,1,3,11,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,24
38,970922,67,2,1,15,5.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
39,596585,67,3,1,13,7.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
40,2037087,67,4,2,9,8.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,24
41,2474111,67,5,3,14,8.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,24
42,1568481,67,6,3,12,7.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,24
43,2048527,67,8,2,11,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,24
44,2389031,67,9,2,14,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,24
45,2378562,67,10,1,10,6.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
46,1515698,67,11,1,11,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
47,1928050,67,12,2,12,8.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,24
48,1949274,67,13,1,10,6.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
49,551869,67,14,1,9,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
50,768572,67,16,4,10,9.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,24
51,150528,67,18,5,16,4.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,24
52,29758,67,19,0,14,9.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
53,1558976,67,21,1,9,5.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
54,863974,67,22,1,11,14.0,196,3,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
55,2308399,67,23,1,14,14.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,24
56,2759128,81,3,1,9,14.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,7
57,1812985,81,5,2,20,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,7
58,1889835,82,1,3,15,NaN,196,6,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,19
59,499460,82,3,5,10,5.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,19
60,2728456,82,4,0,11,16.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,19
61,2653743,82,6,4,9,13.0,196,5,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,19
62,1358880,82,9,1,10,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,19
63,343588,82,10,2,11,1.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,19
64,3034663,82,15,2,11,12.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,19
65,147262,82,18,1,13,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,19
66,3144004,82,19,2,15,8.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,19
67,2126069,98,3,0,9,25.0,196,7,0,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,14
68,2210120,98,7,5,14,5.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,14
69,681011,98,9,3,9,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,14
70,2846344,98,11,4,13,15.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,14
71,747431,98,12,6,13,30.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,14
72,2383054,98,13,4,11,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,14
73,1993729,98,14,5,8,8.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,14
74,1403849,109,3,3,17,9.0,196,5,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,6
75,520620,120,1,3,11,NaN,196,2,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,3
76,3273029,120,3,2,8,19.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,3
77,1861943,185,2,1,12,25.0,196,10,0,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,6
78,2040988,195,1,1,14,NaN,196,2,0,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,58
79,1680569,195,8,1,9,4.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,58
80,276171,195,19,5,11,3.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,58
81,2744976,195,22,5,10,7.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,58
82,2781919,195,25,1,14,4.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,58
83,1738718,195,31,2,8,4.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,58
84,3058369,195,34,3,10,6.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,58
85,1485596,195,37,2,15,0.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,58
86,417035,195,40,3,16,2.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,58
87,1615297,195,47,5,10,2.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,58
88,1765587,195,52,3,12,2.0,196,3,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,58
89,745908,195,57,4,11,3.0,196,3,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,58
90,2505656,222,17,2,12,1.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,70
91,3268370,222,38,5,15,1.0,196,6,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,70
92,2016711,290,9,5,19,6.0,196,8,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,51
93,2706088,290,28,6,10,7.0,196,16,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,51
94,1952286,331,6,5,16,30.0,196,8,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,8
95,3226575,360,1,5,12,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,3
96,1469869,377,3,5,17,3.0,196,9,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,both,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,8
98,858092,420,4,1,19,30.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,22

# Deriving Columns with loc()

In [15]:
#creating my flag based on values using loc()

In [16]:
df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
df.loc[df['max_order'] <= 40, 'loyalty_flag'] = 'Regular customer'

In [18]:
df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
df['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [20]:
#checking output of certain columns
df[['user_id', 'loyalty_flag', 'max_order']].sample(60)

          user_id      loyalty_flag  max_order
12886767    59819    Loyal customer         99
28088431   181652    Loyal customer         48
26163894    68415  Regular customer         15
11419211   180789      New customer          7
9710362     40821  Regular customer         23
19138353   113792      New customer          7
32284973    65231    Loyal customer         48
6476678    128839  Regular customer         15
14210457   102999    Loyal customer         50
8592945     92301    Loyal customer         64
27067581    43365    Loyal customer         88
1717684     82084      New customer          7
28104660    59742    Loyal customer         99
15801850    39518  Regular customer         25
32398324   168010      New customer          5
460438      64597  Regular customer         15
9569309     53089      New customer          4
896985      96748    Loyal customer         50
30237230   202353  Regular customer         18
22752614    37093    Loyal customer         57
28984727   187726    Loyal customer         46
30581466     8290    Loyal customer         43
23070678   162039  Regular customer         40
16898408   196226  Regular customer         15
31127280    60650    Loyal customer         71
27388384   122800  Regular customer         30
17233569   163522      New customer          4
26813753   154650      New customer          6
30061276    59606      New customer         10
27776919    36845  Regular customer         18
24584125    88996    Loyal customer         58
21661914    68407  Regular customer         22
10741703   146933  Regular customer         25
22736293    39779    Loyal customer         42
8768427     34531    Loyal customer         47
5200436    132753  Regular customer         14
15218328   163606    Loyal customer         58
884649      27477  Regular customer         14
27431247   114701    Loyal customer         50
8724525    157585    Loyal customer         46
16328013    61692  Regular customer         32
17952119    62857  Regular customer         19
23317713   203081  Regular customer         26
24814566   177943    Loyal customer         45
17467775    91759  Regular customer         26
16604698    54610      New customer          3
761103      79372    Loyal customer         74
11994255   151378    Loyal customer         61
743621      60005  Regular customer         11
5692510    185097      New customer          4
3765268    181572  Regular customer         17
26683706   158880      New customer          7
17000676     9230  Regular customer         17
19358059   127946    Loyal customer         62
19374746    36163    Loyal customer         43
2084699     79253  Regular customer         38
19875524    75664    Loyal customer         99
31819330   144118      New customer          7
29382147    30798    Loyal customer         55
31101854    27910  Regular customer         11

In [21]:
#export dataframe 
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'full_merged4.pkl'))